<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChallengeQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC6BB3F71C5DD7A900499A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC6BB40B1C5DD7A900499A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC6BB4161C5DD7A900499A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
